.boardmembers {
  padding: 50px 0px;
}
.boardmembers .content-wrapper {
  text-align: center;
}
.boardmembers .img-wrapper img {
  box-shadow: 11px 11px 0px 0px #171717;
  margin-bottom: 30px;
}
.boardmembers .card-wrapper h5 {
  color: #0066cc;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}
.boardmembers .card-wrapper h4 {
  font-family: "sf-text-pro";
  font-size: 50px;
  font-weight: 700;
  color: #000;
}
.boardmembers .blue-divider {
  background: #0066cc;
  height: 3px;
  width: 47px;
  border-radius: 10px;
  margin: 20px auto;
}
.boardmembers .boardmembers-content-wrapper p {
  color: #7f7f7f;
  font-family: "sf-text-pro";
  font-size: 16px;
  font-weight: 400;
}
