.career-dollar {
    display: flex;
}

.career-detail-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.career-dollar p {
    padding-right: 30px;
}

.career-detail h2 {
    font-size: 50px;
    color: #000000;
    font-family: 'SF Pro Display';
    font-weight: 700;
}

.career-detail h2 span {
    font-weight: 300;
}

.career-detail-head .blue-divider {
    background: #0066cc;
    height: 3px;
    width: 47px;
    margin-bottom: 30px;
    border-radius: 10px;
  }

  .apply-btn button {
    font-size: 13px;
    font-family: 'sf-text-pro';
    background-color: #090909;
    color: #ffffff;
    padding: 6px 20px;
    cursor: pointer;
}

.career-detail-para p {
    font-size: 16px;
    color: #00000085;
    font-family: 'sf-text-pro';
    font-weight: 400;
}

section.career-deatil-sec {
    padding: 90px 90px;
}

.career-detail-para {
    padding-top: 50px;
}