@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Apply-now-btn p {
    margin: 0;
}

.view-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Recent-job-sec h3 {
    font-size: 20px;
    color: #000000;
    font-family: 'sf_pro_m';
}

.full-time span {
    /* display: flex; */
    padding-right: 60px;
}

.Recent-job-sec p {
    font-size: 12px;
    color: #00000087;
    font-family: 'sf-text-pro';
}

.for-borderss {
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-time {
    text-align: center;
}

.view-details a {
    font-size: 13px;
    color: #090909;
    font-family: 'sf-text-pro';
    text-decoration: unset;
    padding: 0px;
}

.career-tabs-all ul li {
    font-size: 13px;
    color: #4D4D4D !important;
    font-family: 'SF Pro Display';
}
.career-tabs-all ul li a {
    color: #4D4D4D;
}

.career-tabs-all .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #000000;
    padding: 10px 50px;
}

.career-tabs-all ul#pills-tab {
    border-bottom: 1px solid #707070;
}

section.career-sec {
    padding: 70px 0px;
}

.Apply-now-btn button {
    background-color: #090909;
    color: #ffffff;
    padding: 7px 27px;
    font-family: 'sf-text-pro';
    border-radius: unset;
}

.Apply-now-btn p {
    font-size: 13px;
    color: #63606096;
    font-family: 'sf-text-pro' !important;
    font-weight: 200 !important;
    text-align: end;
    padding-bottom: 20px;
}

.career-head p {
    font-size: 15px;
    color: #6D6D6D;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}

.career-head h2 {
    font-size: 50px;
    color: #000000;
    font-family: 'SF Pro Display';
    font-weight: 700;
}

.career-head h2 span {
    font-weight: 300;
}

.career-sec .blue-divider {
    background: #0066cc;
    height: 3px;
    width: 47px;
    margin-bottom: 10px;
    border-radius: 10px;
}

  .pagination-all-type .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: initial;
}

.pagination-all-type {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 40px;
}

.for-gap {
    padding: 20px 0px;
}

@media (max-width: 1366px) {
    .full-time span {
        padding-right: 26px;
    }
    .Apply-now-btn p {
        padding-bottom: 4px;
    }

    .for-gap {
        display: flex;
        align-items: center;
    }
    .career-head h2 {
        font-size: 34px;
    }
    .career-head p {
        font-size: 12px;
        color: #6D6D6D;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 22px;
    }
    .Recent-job-sec p {
        font-size: 10px;
    }
    .Recent-job-sec h3 {
        font-size: 16px;
    }
    footer .footer-content ul.footer-link li {
        margin: 9px 0;
    }
}