.accordion-title:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.accordion-title.collapsed:before {
    float: right !important;
    content:"\f067";
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solidrgba(0,0,0,.125);
    background-color: #ffffff;
    border: 1px solid #DCDCDC;
    padding: 15px 46px;
}
.card-body {
    font-size: 14px;
    color: #0000008c;
    font-family: 'Poppins', sans-serif;
}

.accordion-title.collapsed:before {
    float: right !important;
    content: "\f067";
    position: absolute;
    left: 0px;
    background-color: #000000;
    padding: 17px 24px;
    color: #ffffff;
    top: -1px;
}
.accordion-title:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f068";
    padding-right: 5px;
    position: absolute;
    left: 0px;
    background-color: #000000;
    padding: 17px 24px;
    color: #ffffff;
    top: -1px;
}

.card-header a {
    padding-left: 40px;
}

a.card-link.accordion-title.collapsed {
    font-size: 15px;
    color: #000000;
    font-family: 'sf-text-pro';
    text-decoration: unset;
    font-weight: 500;
}
a.card-link.accordion-title {
    font-size: 15px;
    color: #000000;
    font-family: 'sf-text-pro';
    font-weight: 500;
    text-decoration: unset;
}

section.faq-sec {
    padding: 60px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
     border: none; 
    border-radius: .25rem;
}