.Login-head h2 {
    font-size: 50px;
    color: #000000;
    font-family: 'SF Pro Display';
}

.All-form {
    width: 50%;
    margin: 0 auto;
}

.Login-head {
    text-align: center;
}

.All-form .form-group label {
    font-size: 10px;
}

.All-form .form-group button {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-family: 'sf-text-pro';
    padding: 15px 70px;
    width: 100%;
    border: unset;
    margin-top: 20px;
}

.All-form .form-group input {
    padding: 10px;
    margin: 10px 0px;
    border-radius: unset;
}

section.login-sec {
    padding: 80px;
}